<?xml version="1.0" encoding="utf-8" ?>
<data name="ticTacToe">
	
	
	<module id="gameModule" type="tictactoe.module.game.GameModule">
		<argument ref="userPlayer1" />
		<argument ref="userPlayer2" />
		<argument ref="boardModule" />
		<argument ref="activePlayerIndicatorView" />
	</module>
	
	<module id="boardModule" type="tictactoe.module.board.BoardModule">
		<argument ref="boardSize" />
		<argument value="3" type="UInt" />
		<argument ref="boardView" />
	</module>
	
	<module id="userPlayer1" type="tictactoe.module.player.user.UserPlayerModule">
		<argument ref="userPlayerView1" />
		<argument value="x" />
		<argument ref="boardModule" />
	</module>
	
	<module id="userPlayer2" type="tictactoe.module.player.user.UserPlayerModule">
		<argument ref="userPlayerView2" />
		<argument value="o" />
		<argument ref="boardModule" />
	</module>
	
	
	<div id="boardViewDiv" type="js.Browser" static-ref="document" factory="querySelector">
		<argument value=".tic-tac-toe-table"/>
	</div>
	<view id="boardView" type="js.tictactoe.view.board.BoardView">
		<argument ref="boardViewDiv" />
	</view>
	
	<view id="userPlayerView1" type="js.tictactoe.view.player.user.UserPlayerView">
		<argument ref="boardViewDiv" />
	</view>
	
	<view id="userPlayerView2" type="js.tictactoe.view.player.user.UserPlayerView">
		<argument ref="boardViewDiv" />
	</view>
	
	
	<div id="activePlayerIndicatorDiv" type="js.Browser" static-ref="document" factory="querySelector">
		<argument value=".turn-display"/>
	</div>
	<view id="activePlayerIndicatorView" type="js.tictactoe.view.game.ActivePlayerIndicatorView">
		<argument ref="activePlayerIndicatorDiv" />
	</view>
	
	
	
	<bean id="boardSize" type="hex.structures.Size">
		<argument value="5" type="Float" />
		<argument value="5" type="Float" />
	</bean>
</data>